{%extends "MainApp/base.html"%}

{% comment %} 
*  REFERENCES
*  Title: Adding a Google Map with a Marker to Your Website
*  Author: Google
*  Date Published: Last updated 12/9/19
*  Date Accessed: Nov 18th, 2020
*  Code version: v3.43
*  URL: https://developers.google.com/maps/documentation/javascript/adding-a-google-map#all
*  Software License: Apache 2.0 License (for code), Creative Commons Attribution 4.0 License (for article)

*  Title: Get Started with Bootstrap
*  Author: Bootstrap
*  Date Published: N/A Continuous updates
*  Date Accessed: October 4, 2020
*  Code version: v4.5.3
*  URL: https://getbootstrap.com/
*  Software License: Code licensed MIT, docs CC BY 3.0.

*  Title: Get Started with Django
*  Author: Django
*  Date Published: N/A Continuous updates
*  Date Accessed: September 13, 2020
*  Code version: v3.1.3
*  URL: https://www.djangoproject.com/
*  Software License: BSD-3
{% endcomment %}

{%block content%}
{%load static%}
  <head>
	<!-- Google Maps stuff -->
	<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj7vdw_EiiCV8ykgqBY3FlNGhvY5NLD8Y&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 55%;
        /* The width is the width of the web page */
		margin-left: auto;
  		margin-right: auto;
      }
    </style>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Rotunda
		const rotunda = { lat: 38.03613, lng: -78.50343 };
		const Balz = { lat: 38.03475, lng: -78.51732 };
        // The map, centered at Rotunda
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 13,
          center: rotunda,
        });
        // The marker, positioned at Uluru
        marker = new google.maps.Marker({
          position: rotunda,
          map: map,
		});
		
		marker = new google.maps.Marker({
          position: Balz,
          map: map,
        });
      }
	</script>
	<!-- End of Google Stuff -->
</head>
<body>
	<br>
	<div id="map"></div>
	<br>

	<!-- Container for all of the events in the database -->
	<div class="container">
		<h3>Live Events:</h3>
		<!-- Group for all of the events to be listed -->
		<div class="list-group">
		
			<!-- Loops through all of the event objects passed through the context dictionary -->
			{% for event in live_events %}
			<a href="/MeetUpFinder/{{ event.id }}/details/" class="list-group-item list-group-item-action bg-light flex-column align-items-start shadow-lg">
				
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{event.event_name}}</h5>
					<small><strong>Date:</strong> {{event.event_date}}</small>
				</div>
				<p>
					{{event.event_description}}
				</p>
				<small>Capacity: <span class="badge badge-primary badge-pill">{{event.event_capacity}}</span></small>
			
			</a>
			<br>
			{% empty %}
			<div class="card d-flex w-100 justify-content-between flex-column" style= "height: 100px">
				<h4 class="vertical">No events currently going on.</h5>
			</div>
			{% endfor %}
			
	
		</div>

		<br>

		<h3>Upcoming Events:</h3>
		<!-- Group for all of the events to be listed -->
		<div class="list-group">
		
			<!-- Loops through all of the event objects passed through the context dictionary -->
			{% for event in upcoming_events %}
			<a href="/MeetUpFinder/{{ event.id }}/details/" class="list-group-item list-group-item-action flex-column align-items-start bg-light shadow-lg">
				
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{event.event_name}}</h5>
					<small><strong>Date:</strong> {{event.event_date}}</small>
				</div>
				<p>
					{{event.event_description}}
				</p>
				<small>Capacity: <span class="badge badge-primary badge-pill">{{event.event_capacity}}</span></small>
			
			</a>
			<br>
			{% empty %}
			<div class="card d-flex w-100 justify-content-between flex-column" style= "height: 100px">
				<h4 class="vertical">No upcoming events.</h5>
			</div>
			{% endfor %}
			
	
		</div>

		<br>

		<h3>Recently Expired Events:</h3>
		<!-- Group for all of the events to be listed -->
		<div class="list-group">
		
			<!-- Loops through all of the event objects passed through the context dictionary -->
			{% for event in recently_expired %}
			<a href="/MeetUpFinder/{{ event.id }}/details/" class="list-group-item list-group-item-action flex-column align-items-start bg-light shadow-lg">
				
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{event.event_name}}</h5>
					<small><strong>Date:</strong> {{event.event_date}}</small>
				</div>
				<p>
					{{event.event_description}}
				</p>
				<small>Capacity: <span class="badge badge-primary badge-pill">{{event.event_capacity}}</span></small>
			
			</a>
			<br>
			{% empty %}
			<div class="card d-flex w-100 justify-content-between flex-column" style= "height: 100px">
				<h4 class="vertical">No recently expired events.</h5>
			</div>
			{% endfor %}
			
	
		</div>
	</div>
</body>
{% endblock %}